html{
  font-size: 16px;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.container {
max-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1,
h2,
h3 {
color: black;
text-transform: uppercase;
font-weight: 700;
}

h2 {
font-size: 1.125em;
}
h3 {
font-size: .75em;
}

p {
font-size: 0.875em;
line-height: 21px;
}

ul {
  margin: 0;
}

/*The widths are in a percentage!*/
header {
  border-bottom: 3px solid #77a466; 
  text-align: center;
  width: 100%;
}

header h1 {
margin: 0;
  padding: 38px 20px 20px 6px; 
  width: 100%;
}
header span {
color: #77a466;
}

header nav {
  padding: 20px 0; 
  width: 100%; 
}

header nav ul {
margin: 0;
padding: 0;
}

header nav ul li {
text-transform: uppercase;
font-weight: 700;
font-size: .875em;
  padding: 10px 0;
  list-style: none;
}

header nav ul li a {
text-decoration: none;
color:#77a466;
}

.dropdown{
padding: 0;
}

.dropdown-content {
  display: none;
  padding-top: 0px;

}

.dropdown-content a{
color:#4a6441;
line-height: 30px;
}
    
.dropdown:hover .dropdown-content {
  display: block;
}   

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.main-image img {
width: 100%;
border-bottom: 3px solid #77a466;
}

.main-title h2 {
text-align: left;
padding: 5px 0;
  color: #77a466;
}

.main-title p {
padding: 0;
font-size: 1em;
line-height: 1.5625;
}

.section-one,
.section-two,
.section-three {
  border-top: 1px solid #eee;
  width: 100%;
}

.menu {
list-style: none;
padding: 0;
}

.menu li {
padding: 10px 0;
color:#77a466;
}

.reviews {
color: #333;
font-size: 1em;
line-height: 1.3125;
}

.address {
font-size: 1em;
line-height: 1.5;
}

/*The widths are in a percentage!*/
footer {
border-top: 3px solid #eee;
  text-align: center;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
footer h3{
margin-top: 30px;
}

footer span {
font-family: 'Galada', cursive;
text-transform: lowercase;
color: #77a466;
font-size: .875em;
}
@media all and (min-width:768px) and (max-width:1200px){
  /* Tablet styles here */
.bottom-section{
  border-top: 1px solid #eee;
  justify-content: space-between;
  align-items:flex-start;
}

.section-two{
  border-left: 1px solid #eee ;
  border-right: 1px solid #eee ;
  padding: 0 19px;
}
.section-one,
.section-two,
.section-three{
  flex-basis: 30%;
  border-top: none;
}
}

@media all and (min-width:1201px) {
  /* Desktop styles here */
header,
header nav,
header nav ul{
  display: flex;
}
header{
  margin-top: 14px;
}
header h1{
  flex-basis: 58%;
      flex-flow: row;
  padding-left: 0;
  text-align: left;
  padding-top: 10px;
}
header nav{
  flex-flow: row nowrap;
    align-items: flex-start;
  padding: 25px 0;
}
  
header nav ul li{
  padding: 0 10px;
}
.dropdown-content{
  line-height: 21px;
}

.top-section {
  border-bottom: 1px solid #eee;
}

.bottom-section{
  align-items: flex-start;
  margin: 12px 0;
}

.section-one,
.section-two,
.section-three{
  flex-basis: 30%;
  border: none;
}
 
.section-two{
  border-left: 1px solid #eee ;
  border-right: 1px solid #eee ;
  padding: 0 28px;
}

.address,
.section-three h3{
  padding-left: 83px;
}

}